{% extends 'professors/base.html' %} {% block content %}
<div>
  <div class="header bg-green-200 h-16">
    <p class="text-center">Header</p>
  </div>
  <div><h3 class="text-center">Rate {{ course.professor.name }}</h3></div>
  <div class="flex w-2/5 mx-auto">
    <form method="POST" class="flex items-center flex-col w-full">
      {% csrf_token %}
      <div class="flex justify-center">
        <label
          >Semester:
          <input required name="semester" type="text" placeholder="Fall 2022" />
        </label>
      </div>
      <div>
        <label
          >Rate:
          <input required type="number" min="1" max="5" value="3" name="rate" />
        </label>
      </div>
      <div>
        <label
          >Attendance:
          <select name="attendance">
            <option value="True">Yes</option>
            <option value="False">No</option>
            <option value="None">Not Sure</option>
          </select>
        </label>
      </div>
      <div>
        <label
          >Grade:
          <select name="grade">
            {% for grade in grades %}
            <option value="{{ grade }}">{{ grade }}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div>
        <label
          >Comment:
          <input required name="comment" type="text" />
        </label>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
